body{
	magin-left:200px;
	font-family: trebuchet MS ,sans-serif;
	font-size: 28px;
	line-height:0.8;
background-color: #212e3b;
color: rgb(200,200,200);

#title{
	background:#181e29;
	text-align: center;
	margin-bottom:30px;
	padding:20px;
	box-shadow: 0px 10px 25px rgba(200,200,250,0.3);
	border-radius: 5px;
}
h2{
	color:#609c54;

}

@media (max-width: 300px) {

  .container {
    width: 250px;
  }
}


#picture{
	margin-bottom:10px;

}
.container{
	width:1200px;
	Margin:100px auto;

.box-card{
	background-color:#181e29;
	padding:20px;
	box-shadox:0px 11px 25px rgba(250,250,250,0.3);
	border-radius:4px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
}
#btn-brown{
	width:300px;
	Margin:0px auto;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 25px;
}
#btn-brown:hover{
	background-color:orange;
}
#linkedin:hover{
	font-size:30px;
}
.mypic-img{
	width:300px;
	border-radius: 30px;
	margin-right:10 auto;
}

 
a:hover{
	
	color:#667e94;
	font-size: 50px;
}	
a{
	text-decoration: none; 
	color:rgb(153,129,107);
	transition: font-size 0.2s ease;
}
ul{
	list-style: none;
	font-size: 45px;
	color:rgb(153,129,107);
}

.list-horizontal1:hover{
	
	color:#667e94;
	font-size: 50px;
}
.list-horizontal1{

    font-size: 45px;
	display:inline;
	width:30px;
	margin-left:310px;
	padding:6px;
	
}
.list-horizontal2:hover{
	
	color:#667e94;
	font-size: 50px;
}
.list-horizontal2{

    font-size: 45px;
	display:inline;
	width:30px;
	margin-left:310px;
	padding:6px;
	
}

